<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="SystemUpdateVersion.Properties.Settings.APServiceConfigConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\APServiceConfig.mdb" providerName="System.Data.OleDb" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!--============================================SystemConfig ========================================-->
    <!--ServiceAppTitile-->
    <add key="AppName" value="VersionUpdateSmallProgram" />
    <!--Client(监控)AppTitile-->
    <add key="ClientAppName" value="VersionMointor" />
    <!--AppVersion-->
    <add key="AppVersion" value="0.0.1.5" />
    <!--AppLanguageSettingList-->
    <add key="AppLanguage" value="Chinese,English" />
    <!--是否为监控程序 0不是、2是-->
    <add key="Monitor" value="0" />
    <!--监控程序 - WebApiPool Site Name-->
    <add key="WebApiSiteName" value="WebApi" />
    <!--监控程序 - PDAPool Site Name-->
    <add key="PDASiteName" value="PDA" />
    <!--监控程序 - CIMPDAPool Site Name-->
    <add key="CIMPDASiteName" value="CIMPDA" />
    <!--监控程序 - CamstarPortalPool Site Name-->
    <add key="CamstarPortalSiteName" value="DefaultAppPool" />
    
    
    
    <!--============================================ProjectConfig Service AP========================================-->
    <!--Access DB 配置地址-->
    <add key="DBCon" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=..\..\Resources\APServiceConfig.mdb;Jet OLEDB:Database Password=asd0.123" />
    <!--Log记录配置地址-->
    <add key="Log" value="\Log\" />
    <!--更版服务器 - WebApi 备份目录-->
    <add key="LocalBackupByWebApi" value="E:/XIAOANDX/FTP/Web Api/Backup" />
    <!--更版服务器 - PDA 备份目录-->
    <add key="LocalBackupByPDA" value="E:/XIAOANDX/FTP/PDA/Backup" />
    <!--更版服务器 - CIMPDA 备份目录-->
    <add key="LocalBackupByCIMPDA" value="E:/XIAOANDX/FTP/CIMPDA/Backup" />
    <!--更版服务器 - CamstarPortal 备份目录-->
    <add key="LocalBackupByCamstarPortal" value="E:/XIAOANDX/FTP/Camstar Portal/Backup" />
    <!--更版程序类型List-->
    <add key="APConfigType" value="WebApi,PDA,CIMPDA,CamstarPortal" />
    <!--授权厂区List-->
    <add key="Factory" value="SZ,QHD,HA,KA" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<publisherPolicy apply="yes" />
			<probing privatePath="bin" />
		</assemblyBinding>
	</runtime>
</configuration>